body {
    padding-top: 70px;
    background-color: #EBEBEB;
    color: #272822;
}

button.login-strava {
    background-image: url('/resources/images/strava.png');
    width: 312px;
    height: 62px;
    border: none;
    padding: 0;
    border-radius: 9px;
}

.navbar-inverse {
    background-color: #272822;
}

.jumbotron {
    background: none;
}
