html {
    background: url(https://maps.googleapis.com/maps/api/staticmap?center=40.097468,-105.377707&zoom=11&size=640x640&scale=2&maptype=terrain) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

body {
    padding-top: 70px;
    background: none;
}

button.login-strava-large {
    background-image: url('/resources/images/stravaLarge.png');
    background-position: -1px 0;
    width: 311px;
    height: 62px;
    border: none;
    padding: 0;
    border-radius: 9px;
}

button.login-strava-small {
    background-image: url('/resources/images/stravaSmall.png');
    background-position: -1px 0;
    width: 156px;
    height: 31px;
    border: none;
    padding: 0;
    border-radius: 4px;
}

.navbar-inverse {
    background-color: #272822;
}

.navbar-nav > li > a {
    display: inline-block;
}

.navbar a.dropdown-toggle {
    cursor: pointer;
}

.navbar a.avatar-small {
    padding: 5px 0 5px 10px;
}

.navbar .avatar-small img {
    height: 40px;
    width: 40px;
    margin: 0;
}

.navbar .navbar-nav > .open > a, .navbar .navbar-nav > .open > a:hover, .navbar .navbar-nav > .open > a:focus {
    background: none;
}

.panel {
    background: rgba(29,30,25,0.8);
    color: white;
    border: none;
}

.panel img {
    margin-bottom: 0;
}

.intro {
    padding: 30px 0;
}

.intro h1 {
    font-size: 4em;
    margin: 0 0 45px;
}

.panel span {
    display: inline-block;
    min-width: 120px;
}

.btn, img {
    margin-bottom: 10px;
}

.panel {
    transition: opacity .25s linear;
    -moz-transition: opacity .25s linear;
    -webkit-transition: opacity .25s linear;
}

.fade {
    opacity: .5;
}
