html,body {
    height: 100%;
    margin: 0;
    background-color: #E5E5E5;
    font-family: 'RobotoDraft', sans-serif;
    font-size: 14px;
}

.clickable {
    cursor: pointer;
}

button.login-strava {
    background-image: url('/resources/images/strava.png');
    width: 312px;
    height: 62px;
    border: none;
    padding: 0;
    border-radius: 9px;
}