html {
    background: url(https://maps.googleapis.com/maps/api/staticmap?center=40.097468,-105.377707&zoom=11&size=640x640&scale=2&maptype=terrain) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

body {
    padding-top: 70px;
    background: none;
}

button.login-strava-large {
    background-image: url('/resources/images/stravaLarge.png');
    background-position: -1px 0;
    width: 311px;
    height: 62px;
    border: none;
    padding: 0;
    border-radius: 9px;
}

button.login-strava-small {
    background-image: url('/resources/images/stravaSmall.png');
    background-position: -1px 0;
    width: 156px;
    height: 31px;
    border: none;
    padding: 0;
    border-radius: 4px;
}

.inline {
    display: inline-block;
}

.strava {
    color: rgb(251,51,0);
}

.strava:hover {
    color: #fc4c02;
}

.navbar-inverse {
    background-color: #272822;
}

.navbar-nav > li > a {
    display: inline-block;
}

.navbar a.dropdown-toggle {
    cursor: pointer;
}

.navbar a.avatar-small {
    padding: 5px 0 5px 10px;
}

.navbar .avatar-small img {
    height: 40px;
    width: 40px;
    margin: 0;
}

.navbar .navbar-nav > .open > a, .navbar .navbar-nav > .open > a:hover, .navbar .navbar-nav > .open > a:focus {
    background: none;
}

.panel {
    background: rgba(29,30,25,0.8);
    color: white;
    border: none;
}

.panel img {
    margin-bottom: 0;
}

.intro {
    padding: 30px 0;
}

.intro h1 {
    font-size: 4em;
    margin: 0 0 45px;
}

.btn, img {
    margin-bottom: 10px;
}

.btn.delete, .btn.add {
    padding-right: 20px;
    margin-right: 10px;
    position: relative;
}

.btn.delete:after, .btn.add:after {
    position: absolute;
    right: 6px;
}

.btn.add:after {
    content: '+';
}

.btn.delete:after {
    content: '×';
}

.btn.delete:hover {
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-default {
    color: white;
    background: none;
    border-color: white;
}

.btn-default:hover {
    color: white;
    border-color: white;
    background-color: rgba(255,255,255,.2);
}

.panel {
    transition: opacity .25s linear;
    -moz-transition: opacity .25s linear;
    -webkit-transition: opacity .25s linear;
}

.fade {
    opacity: .5;
}

.alert {
    color: white;
    border: none;
}

.alert-danger {
    background: rgba(153,48,49,0.8);
}

.alert-success {
    background: rgba(46,102,44,0.8);;
}

.form-control {
    border: 1px solid white;
    background: none;
    box-shadow: none;
    color: white;
    font-size: 22px;
}

textarea.form-control {
    height: 138px;
}
input.form-control {
    height: 46px;
}

.money {
    border: 1px solid white;
    border-radius: 4px;
    position: relative;
}

.money:before {
    position: absolute;
    font-size: 22px;
    top: 8px;
    left: 12px;
    content: '$';
}

.money input {
    border: none;
    padding-left: 27px;
}