<div class="panel panel-default" ng-class="{fade: !campaignsPresent}">
    <div class="panel-body">
        <div class="media">
            <a class="pull-left">
                <sputnik-map polyline="activity.mapSummaryPolyline" size="64"></sputnik-map>
            </a>
            <div class="media-body">
                <h3 class="media-heading">
                    <a ng-href="#/activities/{{activity.id}}" ng-show="campaignsPresent">{{activity.name}}</a>
                    <span ng-hide="campaignsPresent">{{activity.name}}</span>
                </h3>
                <span>{{activity.date | date : 'short'}}</span>
                <a href="http://www.strava.com/activities/{{activity.id}}" class="strava" ng-show="campaignsPresent">View on Strava</a>
            </div>
        </div>
    </div>
</div>

