<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header hidden-xs hidden-s"><a href="/" class="navbar-brand">Sputnik</a></div>
        <ul class="nav navbar-nav navbar-right">

            <li class="dropdown">
                <a class="avatar-small"><img ng-src="{{profile.avatarMedium}}"
                                             ng-show="profile.avatarMedium != undefined"
                                             alt="avatar"
                                             class="img-rounded"></a>
                <a class="dropdown-toggle" data-toggle="dropdown">{{profile.name}}<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#/activities">My activities</a></li>
                    <li><a ng-click="signout()">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>