<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-3 text-center">
                            <sputnik-map segment-id="segmentEffort.segmentId" size="235"></sputnik-map>
                        </div>
                        <div class="col-md-6">
                            <h3>{{segmentEffort.name}}</h3>
                            <h5>{{athlete.name}}</h5>
                            <div>Distance: {{segmentEffort.distance}}m</div>
                            <div>Date: {{segmentEffort.date | date : 'short'}}</div>
                            <div>Elapsed Time: {{segmentEffort.elapsedTime}}s</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
