<sputnik-navbar></sputnik-navbar>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>name</th>
                        <th>athleteId</th>
                        <th>distance</th>
                        <th>date</th>
                        <th>segmentId</th>
                        <th>elapsedTime</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="segmentEffort in segmentEfforts" sputnik-segment-effort="segmentEffort"></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>