<div class="panel panel-default">
    <div class="panel-body">
        <h3 class="media-heading">{{segment.name}}</h3>

        <div class="row">
            <div class="col-lg-5">
                <div>{{segment.remoteid}}</div>
                <button class="btn btn-danger btn-sm" ng-click="destroy()">Delete</button>
            </div>
            <div class="col-lg-7">
                <span ng-repeat="campaign in campaigns">
                    <div class="btn btn-success btn-xs delete" ng-click="removeCampaign(campaign.id)" ng-show="containsCampaign(campaign)">{{campaign.title}}</div>
                    <div class="btn btn-default btn-xs add"  ng-click="addCampaign(campaign)" ng-hide="containsCampaign(campaign)">{{campaign.title}}</div>
                </span>
            </div>
        </div>
    </div>
</div>